@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Assignment 5 - Lexi Zickella";
}

<!--Header with preferred name-->
<h1>Lexi Zickella</h1>
<br /><!--Picture of my husband and I snowmobiling-->
<img id="picFun" src="img/mission4.jpg" /><br /><br />
<p>
    <!--Paragraph of what I am looking to get out of this class-->
    I really am excited to learn how to become better at coding in general. I want to practice those
    skills by adding to my knowledge of the subject. I also am looking forward to learning a strongly typed
    language. Before this class I had only learned JavaScript and Python so far.
</p><br />
<!--List of Jobs I am interesed in-->
<p id="jobs">Top Job's:</p>
<div class="container">
    <ul class="myUL">
        <li>Project Management for Anthropologie</li>
        <li>Product Management AWS</li>
        <li>Interior Designer</li>
    </ul>
</div>

